test_3.py
pseudcode.txt
venv-OC-P7
old
logo
data
Explications_soutenance
Action folder
selected_actions_dataset1_Python+P7.csv
selected_actions_dataset2_Python+P7.csv
selected_actions_OC_p7_1er_tableau_actions_%.csv
test_3.py